.action-section
   padding: 65px 0 100px
   background: #ffffff url("../images/leaves.png") no-repeat
   background-position: 50% 250%
   &-title
      margin-bottom: 30px
      padding: 0
      font-family: 'Quicksand-Medium', Arial, sans
      font-size: 45px
      color: #21a2ca
      text-align: center
   &-decor
      display: block
      margin: auto
      margin-bottom: 34px
