html
   scroll-behavior: smooth
.container
   max-width: 1180px
   width: 90%
   margin: auto
.button
   padding: 16px 24px 16px 24px
   font-family: 'Quicksand-Medium', Arial, sans
   font-size: 20px
   color: #ffffff
   background: linear-gradient(to bottom, #fd9b03 0%,#eb701f 100%)
   text-shadow: 1px 1px 0px #914c0d
   border: 1px solid #eb701f
   border-radius: 15px
   cursor: pointer
   &:hover
      background: linear-gradient(to bottom, #fd9b03 0%,#fd9b03 100%)
#totop
   position: fixed
   width: 50px
   height: 50px
   bottom: 50px
   right: 30px
.icontotop
   display: block
   visibility: hidden
.page
   margin-bottom: 0
@media screen and ( max-width: 400px )
   .button
      font-size: 20px
