.header
   background-color: #f1f6fa
   padding-top: 44px
   padding-bottom: 0
   &-wrapper
      display: flex
      align-items: center
      justify-content: space-between
   &-menu
      margin: 0
      padding: 0
      list-style: none
      display: flex
      align-items: center
.menu
   &-item
      margin-left: 40px
      &:first-child
         margin-left: 0
      a
         text-decoration: none
         text-transform: uppercase
         color: #21a3ca
         font-family: 'Quicksand-Bold', Arial, sans
         font-size: 20px
         &:hover
            color: #ffac5f
