.front-page
   &-header
      background-color: #f1f6fa
      padding-bottom: 20px
.hero
   padding-top: 100px
   position: relative
   min-height: 580px
   z-index: 1
   &-title
      margin-top: 0
      margin-bottom: 27px
      padding: 0
      font-family: 'Quicksand-Medium', Arial, sans
      font-size: 45px
   &-description
      display: block
      margin: 0
      margin-left: 67px
      margin-right: 0
      margin-bottom: 40px
      padding: 0
      font-size: 24px
      line-height: 1.8
   &-main
      &-texts
         width: 645px
         margin-left: auto
         margin-right: 0
      &-img
         position: absolute
         left: 100px
         top: 0
         z-index: -1
.button-hero
   margin-left: 220px
@media screen and ( max-width: 1400px )
   .hero
      &-main
         &-img
            left: 0
@media screen and ( max-width: 1300px )
   .hero
      &-main
         &-img
            left: -50px
@media screen and ( max-width: 1200px )
   .hero
      padding-top: 50px
      min-height: 480px
      &-main
         &-texts
            width: 60%
         &-img
            width: 50%
            padding-bottom: 25px
      &-title
         font-size: 39px
         text-align: center
      &-description
         font-size: 20px
@media screen and ( max-width: 1100px )
   .hero
      padding-top: 50px
      min-height: 400px
      &-title
         font-size: 35px
   .button
      &-hero
         display: block
         margin: auto
@media screen and ( max-width: 906px )
   .hero
      padding-top: 0
      &-main
         &-texts
            width: 100%
            padding-top: 730px
         &-img
            width: 100%
            left: 0
            top: 50px
      &-description
         width: 100%
         margin: 0
         margin-bottom: 25px
   .front-page
      &-header
         padding-bottom: 50px
@media screen and ( max-width: 820px )
   .hero
      &-main
         &-texts
            padding-top: 670px
@media screen and ( max-width: 768px )
   .hero
      &-main
         &-img
            top: 50px
         &-texts
            padding-top: 650px
      &-title
         font-size: 32px
         margin-bottom: 10px
      &-description
         line-height: 1.5
@media screen and ( max-width: 712px )
   .hero
      &-main
         &-texts
            padding-top: 580px
@media screen and ( max-width: 600px )
   .hero
      &-main
         &-img
            top: 70px
         &-texts
            padding-top: 550px
@media screen and ( max-width: 550px )
   .hero
      &-main
         &-texts
            padding-top: 450px
      &-title
         font-size: 25px
      &-description
         font-size: 18px
@media screen and ( max-width: 450px )
   .hero
      &-main
         &-texts
            padding-top: 400px
      &-description
         line-height: 1.4
   .front-page
      &-header
         padding-bottom: 25px
@media screen and ( max-width: 380px )
   .hero
      &-main
         &-texts
            padding-top: 350px
      &-title
         font-size: 21px
