.video-section
   position: relative
   padding-top: 85px
   padding-bottom: 177px
   background: #ffffff url("../images/leaves.png") no-repeat
   background-position: 50% 160%
   &-wrapper
      display: flex
      justify-content: space-between
   &-text
      width: 615px
   &-title
      margin-top: 0
      margin-bottom: 30px
      padding: 0
      font-family: 'Quicksand-Medium', Arial, sans
      font-size: 45px
      color: #21a2ca
   &-description
      line-height: 1.8
      margin: 0
      margin-bottom: 55px
   &-leaves-img
      position: absolute
      bottom: 0
