@font-face {
  font-family: "Quicksand-Regular";
  src: local("Quicksand-Regular"), local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand-Medium";
  src: local("Quicksand-Medium"), local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: local("Quicksand-Bold"), local("Quicksand-Bold"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Quicksand-Regular', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.header {
  background-color: #f1f6fa;
  padding-top: 44px;
  padding-bottom: 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  margin-left: 40px;
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #21a3ca;
  font-family: 'Quicksand-Bold', Arial, sans;
  font-size: 20px;
  font-weight: 900;
}

.menu-item a:hover {
  color: #19708a;
}

.container {
  max-width: 1288px;
  width: 90%;
  margin: auto;
}
